{%extends 'base.html'%}

{%block content%}
<form action="" method="POST" name="login" class='login'>
<table class='login'>
  <tr>
	<td class="right">用户名:</td>
	<td><input type='text' name='nickname' required pattern="^[a-zA-Z0-9_]{1,20}$"></td>
  </tr>
  <tr>
	<td class="right">密码:</td>
	<td><input type='password' name='password' required></td>
  </tr>
</table>
<input type="submit" value='登录' class='button'> <a href='/register' style="color:red">注册</a>
</form>
{%include 'error.html'%}
{%endblock%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}">
{%endblock%}