{%extends 'base.html'%}
{%block content%}
<form action="" method='POST' id="form_change">
<fieldset>
<legend>修改密码</legend>
<table>
  <tr>
	<td class="right">原密码:</td>
	<td><input type='password' name='old_password' required autofocus></td>
	<td name='old_password' class='error'>原密码不正确!</td>
  </tr>
  <tr>
	<td class="right">新密码:</td>
	<td><input type='password' name='new_password' required></td>
	<td name='new_password' class='error'>请确保密码长度在6至16之间,没有包含中文!</td>
  </tr>
  <tr>
    <td class="right">重新输入新密码:</td>
	<td><input type='password' name='new_password_again' required></td>
	<td name='new_password_again' class='error'>请确保两次输入的密码一致!</td>
  </tr>
</table>
</fieldset>
</form>
<form action="{{url_for('person')}}" method='GET' id="form_cancel">
{%if error%}
<p style="color:red"><b>{{error}}</b></p>
{%endif%}
<div style="margin:15px 20px">
  <input type='submit' name='button' class='button' value="确定" form="form_change"> 
  <input type='submit' name='button' class='button' value='取消' form="form_cancel">
</div>

{%endblock%}

{%block style%}
<style type='text/css'>
#form_change fieldset{
	margin:20px 10px;
	width:500px;
}
table{
	border-spacing:15px;
}
p{
	margin:10px 15px;
}
</style>
{%endblock%}

{%block script%}
<script type='text/javascript' src='{{url_for("static",filename="settings_password.js")}}'></script>
{%endblock%}